.colorBlue{
    background-color: #3B5999;
    color: #3B5999;
}

.backWhite{
    background-color: #ffffff;
}

.colorWhite{
    color: #ffffff;
    fill: white !important;
}

@media (max-width: 600px) {
    .smallWidth{
        max-width: 50%;
    }
  }